Repository k3nt0w/fourside, changes with the labels that .github/labeler.yml gives for each.
All labels: backend :computer:, frontend :art:, ci :recycle:

chore: update dependency @types/react to v17.0.19
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

chore: update deps
  package.json
  packages/backend/package.json
  packages/electron/package.json
  packages/electron/src/renderer/states/store.ts
  yarn.lock
Labels: backend :computer:, frontend :art:

chore: update deps (#167)
  package.json
  packages/backend/package.json
  packages/electron/package.json
  packages/electron/src/renderer/states/store.ts
  yarn.lock
Labels: backend :computer:, frontend :art:

chore: update dependency @types/redux-mock-store to v1.0.3
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

chore: update dependency @types/express to v4.17.13
  packages/backend/package.json
  yarn.lock
Labels: backend :computer:

fix: update dependency moment-timezone to v0.5.33
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

chore: update dependency @types/react-router to v5.1.16
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

chore: update dependency @types/rimraf to v3.0.2
  packages/backend/package.json
  yarn.lock
Labels: backend :computer:

chore: update dependency @types/webpack-env to v1.16.2
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

chore: update dependency @webpack-cli/serve to v1.5.2
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

chore: update dependency eslint-plugin-prettier to v3.4.1
  packages/backend/package.json
  yarn.lock
Labels: backend :computer:

chore: update dependency firebase-admin to v9.11.1
  packages/nestjs-firebase/package.json
  yarn.lock
Labels: none

chore: update dependency electron to v13.2.1
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

chore: update dependency webpack to v5.51.1
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

fix: update dependency connected-react-router to v6.9.1
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

fix: update dependency css-loader to v5.2.7
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

chore: update dependency electron-rebuild to v3
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

chore: update dependency node-loader to v2
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

chore: update dependency rxjs to v7
  packages/nestjs-firebase/package.json
  yarn.lock
Labels: none

chore: update dependency webpack-cli to v4.8.0
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

fix: update dependency babel-plugin-import to v1.13.3
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

fix: update dependency moment to v2.29.1
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

chore: update dependency @types/node to v14
  packages/backend/package.json
  yarn.lock
Labels: backend :computer:

chore: update dependency html-webpack-plugin to v5
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

fix: update mui monorepo
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

chore: update dependency tsconfig-paths to v3.11.0
  package.json
  yarn.lock
Labels: none

chore: update dependency @types/node to v14.17.12
  packages/backend/package.json
  yarn.lock
Labels: backend :computer:

chore: update dependency husky to v7.0.2
  package.json
  yarn.lock
Labels: none

fix: update dependency csv-parse to v4.16.2
  packages/backend/package.json
  yarn.lock
Labels: backend :computer:

chore: update dependency electron-rebuild to v3.2.2
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

chore: update dependency typescript to v4.4.2
  package.json
  yarn.lock
Labels: none

chore: update dependency source-map-loader to v3
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

chore: update dependency electron to v13.2.3
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

chore: update dependency ts-loader to v9
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

chore: update dependency webpack-dev-server to v4
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

fix: update dependency react-router to v5.2.1
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

chore: update nest monorepo to v8
  packages/backend/package.json
  packages/nestjs-firebase/package.json
  yarn.lock
Labels: backend :computer:

fix: update dependency css-loader to v6
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

fix: update dependency history to v5
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

fix: update dependency csv-parse to v4.16.3
  packages/backend/package.json
  yarn.lock
Labels: backend :computer:

.github/labeler.yml:

"backend :computer:":
  - "packages/backend/**"
  - "packages/erd/**"
  - "packages/interface/**"
  - 'db/**'
"frontend :art:":
  - "packages/electron/**"
  - "packages/interface/**"
"ci :recycle:":
  - '.github/workflows/**'
