Repository k3nt0w/fourside, changes with the labels that .github/labeler.yml gives for each.
All labels: backend :computer:, frontend :art:, ci :recycle:

.github/labeler.yml:

"backend :computer:":
  - "packages/backend/**"
  - "packages/erd/**"
  - "packages/interface/**"
  - 'db/**'
"frontend :art:":
  - "packages/electron/**"
  - "packages/interface/**"
"ci :recycle:":
  - '.github/workflows/**'

chore: update dependency serve to v12.0.1
  package.json
  yarn.lock
Labels: none

chore: update dependency electron to v14
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

chore: update dependency electron to v13.5.2
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

chore: update dependency @storybook/addon-knobs to v6.4.0
  packages/electron/package.json
  yarn.lock
Labels: frontend :art:

chore: update dependency jest to v27.5.1
  package.json
  yarn.lock
Labels: none

fix: update dependency envalid to v7
  packages/backend/package.json
  yarn.lock
Labels: backend :computer:
